<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <connectionStrings>

   <add connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Hassan\Documents\emp.accdb" name="access" providerName="System.Data.OleDb"/>
 </connectionStrings>
</configuration>